/* header */
header {
  width: auto;
  height: 70px;
  border-bottom: 1px solid;
}

/* main */
main {
  margin: 20px;
}

#stars {
  height: 200px;
}

#bookshelf {
  height: 300px;
  margin: 0 auto;
}
.book-icon {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: auto;
  height: auto;
  margin: 5px;
  object-fit: cover;
}
.book-icon img {
  width: 140px;
  height: 140px;
  padding: 10px;

  transform: scale(2);
  transform-origin: center center;
  border-radius: 50%;
  object-fit: cover;
  animation: pulseY 2s ease-in-out infinite alternate;
}
.book-icon::before {
  position: absolute;
  width: 50px;
  height: 50px;
  font-size: 64px;
  /* animation: pulseY 2s ease-in-out infinite alternate; */
}

#input-result {
  min-width: 300px;
  min-height: 100px;
  margin: 20px auto;
  border: gray solid 1px;
}

/* footer */
footer {
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* .star-plate */
@keyframes pulseY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
