/* header */
header {
  display: flex;
  flex-direction: column;
  height: 70px;
  margin: 0 auto;
  padding: 20px;
}
header p {
  margin: 0 auto;
}

.reverse {
  display: inline-block;
  transform: scaleX(-1);
}

/* main */

#bookshelf {
  height: 300px;
  width: 750px;
  margin: 0 auto;
  padding: 30px;
  border: 1px solid;
  border-radius: 16px;
  overflow: auto;
}
.book-icon {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 12px;
  width: auto;
  height: auto;
  object-fit: cover;
}
.icon {
  margin: 5px auto;
  padding: 10px;
  animation: pulseY 2s ease-in-out infinite alternate;
}
.thumbnail {
  position: relative;
  width: 100px;
  height: 100px;
  gap: 20px;
  border-radius: 50%;
  object-fit: cover;
  transform-origin: center center;
  z-index: 9999;
}
.icon::before {
  content: "★";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 144px;
  z-index: 2222;
}

#input-result {
  width: 500px;
  height: 150px;
  margin: 20px auto;
  border: gray solid 1px;
  border-radius: 6px;
  overflow: auto;
}
#review {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
  gap: 10px;
}

#feeling {
  height: 70px;
  overflow: hidden;
  border-radius: 8px;
}

/* footer */
footer {
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* サムネイルのアクション */
@keyframes pulseY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
