body {
  height: 100%;
  background-color: rgb(209, 200, 227);
  z-index: 0;
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(128, 108, 169);
}

.miroku {
  font-size: 64px;
}

.star-color {
  color: rgba(158, 80, 176, 0.882);
}

.button {
  width: 100px;
  height: 30px;
  margin: 0 auto;
  border-radius: 8px;
  background-color: #c0b0df;
  text-align: center;
}

.form {
  width: 470px;
  padding: 5px auto;
  cursor: url(../img/cursor.png) 4 12, auto;
}
