body {
  background-color: #d1c8e3;
  z-index: 0;
}

.miroku {
  font-size: 64px;
}

.star-color {
  color: color(srgb 0.5055 0.0559 0.4991);
}

.button {
  width: 140px;
  height: 30px;
  margin: 0 auto;
  border-radius: 0%;
  text-align: center;
}

.form {
  width: 470px;
  padding: 5px auto;
  cursor: url(../img/cursor.png) 4 12, auto;
}
