/* header */
header {
  display: flex;
  justify-content: center;
  margin: 0 auto 20px auto;
  padding: 20px 0;
  border-bottom: #ccc solid 1px;
  font-size: 26px;
}

/* main */
main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  max-width: 500px;
}
#input-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  place-items: center;
  padding: 10px;
  border: gray solid 1px;
  border-radius: 5px;
}
.star-arise {
  position: absolute;
  text-align: center;
  font-size: 32px;
  animation: drop 1s ease forwards, rise 0.4s linear 1.2s forwards;
}
#suggest-list {
  position: absolute;
  width: 250px;
  margin-top: 2px;
  list-style: none;
  background-color: color(srgb 0.6861 0.7229 0.8809);
  opacity: 80%;
  padding: 0;
}
.suggest-item {
  padding: 6px 10px;
  cursor: pointer;
}
.suggest-item:hover {
  background: #eee;
}

#interest {
  height: 100px;
  overflow: hidden;
}

#button-section {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  gap: 10px;
}

#input-result {
  max-width: 300px;
  min-height: 100px;
  border: gray solid 1px;
}
/* footer */
footer {
  display: flex;
  flex-direction: column;
  margin: 20px;
  gap: 3px;
}
footer p {
  margin: 0 auto;
}
.emphasis {
  font-size: 28px;
  color: color(srgb 0.5055 0.0559 0.4991);
}

/* ヒントの吹き出し */
.speech-bubble {
  position: absolute;
  padding: 10px;
  font-size: 12px;
  transform: translate(78%, -135%);
  background-color: #fff;
  border-radius: 8px;
}
.speech-bubble::before {
  content: "◀︎";
  position: absolute;
  display: inline-block;
  font-size: 20px;
  transform: translate(-120%, 170%);
  color: #fff;
}

/* keyframes */
/* .star-arise のアニメーション1 */
@keyframes drop {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: translate(var(--down-x), var(--down-y));
    opacity: 1;
  }
}
/* .star-arise のアニメーション */
@keyframes rise {
  0% {
    transform: translate(var(--down-x), var(--down-y));
    opacity: 1;
  }
  100% {
    transform: translate(var(--end-x), -200px);
    opacity: 0;
  }
}
