/* header */
header {
  display: flex;
  justify-content: center;
  margin: 0 auto 20px auto;
  padding: 20px 0;
  border-bottom: gray solid 1px;
}

/* main */
main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  max-width: 300px;
}
#input-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  place-items: center;
  padding: 10px;
  border: gray solid 1px;
  border-radius: 5px;
}
.form {
  width: 270px;
  padding: 5px auto;
}
#button-section {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  gap: 10px;
}
.button {
  width: 140px;
  height: 30px;
  margin: 0 auto;
  border-radius: 0%;
}
#input-result {
  max-width: 300px;
  min-height: 100px;
  border: gray solid 1px;
}
/* footer */
